body {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

img {
	align-items: center;
	justify-content: center;
}
input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	background-color: white;
	padding: 5px;
	margin-bottom: 20px;
}

#search-btn {
	background-color: rgba(255, 255, 255, 0.9);
	border-left: 1px solid black;
}

#search-btn:focus,
#search-btn:hover {
	background-color: black;
	color: white;
	border-top-right-radius: 30%;
	border-bottom-right-radius: 30%;
}
img {
	border-radius: 100%;
	border: 1px solid black;
	height: 150px;
}

a {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid black;
	padding-bottom: 25px;
	padding-top: 25px;
	text-transform: capitalize;
}

a:hover {
	font-size: larger;
}

.username {
	text-transform: uppercase;
	justify-content: center;
	margin-top: 10px;
}

.logo {
	border: none;
	height: 40px;
	margin-right: 10px;
	padding-bottom: 10px;
}
.profile-data {
	margin-left: 10px;
}
.visit-link {
	border-bottom: none;
	background-color: none !important;
	padding-top: -20px !important;
}
.visit-link:hover {
	background-color: none !important;
}

.repo-username {
	text-transform: capitalize;
	margin-bottom: 30px;
	text-align: center;
	border-top: 1px solid black;
	padding-top: 15px;
	margin-top: 15px;
}

#back-btn {
	font-size: 32pt;
}

#back-btn:hover {
	color: grey;
}

.search-element {
	background-color: white;
	padding-top: 30px;
}

.profile-box {
	padding-top: 10px;
}
